@use "../variables" as *;
@use "../mixins" as *;

.end {
    width: 100%;
    .content {
        width: 100%;
        aspect-ratio: 500 / 268;
        background: url('../../assets/images/end_bg.webp') no-repeat center / cover;
        color: white;
        padding: 0 8%;
        text-align: center;
        .text-main {
            font-size: 16px;
            line-height: 1.3;
            letter-spacing: 1px;
            margin-top: 18%;
        }

        .thanks {
            font-family: $font-UVNKeChuyen3;
            font-size: 40px;
            margin-top: 8%;
        }
    }

    @media (max-width: 500px) {
        .content {
            .text-main {
                font-size: calc((16 / 500) * 100vw);
                letter-spacing: calc((1 / 500) * 100vw);
            }
    
            .thanks {
                font-size: calc((40 / 500) * 100vw);
            }
        }
    }
}
