@font-face {
    font-family: 'SVN-Gotham';
    src: url('../../assets/fonts/SVN-GothamBook.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../../assets/fonts/Lora-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVNKeChuyen3';
    src: url('../../assets/fonts/UVNKeChuyen3.woff2') format('woff2'),
        url('../../assets/fonts/UVNKeChuyen3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlushingRose';
    src: url('../../assets/fonts/1FTV-Blushing-Rose.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
